# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/

# Environment variables
.env

# macOS
.DS_Store

# local caches
**/factor_cache.sqlite
**/factor_cache*.sqlite
**/cache_data/*.db
**/*.sqlite

**/results

# Build artifacts
*.egg-info/
dist/
build/
data/